*{
    margin: 1%;
    padding: 0%;
}


@font-face {
    font-family: 'Ghotammedium';
    src: url(fuentes/GothamMedium.ttf);
}


h1{
    font-family: 'Ghotammedium';
    font-size: 70px;
    color: rgb(28, 169, 157);
    padding-top: 3%;
    text-align: center;
    position: relative;
    top: 50px;
}


body{
    background-color:rgb(205, 199, 199);
}


.fotoarco{
    display:block;
    margin: 0px auto;
}


.qes{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-left: 15%;
   padding-right: 15%;
   padding-bottom: 2%;
   font-size: x-large;
   text-align: justify;
   color: rgb(3, 3, 3);
   position: relative;
    top: 100px;
    
}



.inf{
    font-family: 'Fontspring';
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    color: rgb(75, 96, 63);
    position: relative;
    top: 100px;
}
